@using IdentityCustomMVC.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;

@{
    ViewData["Title"] = "Home";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="content-wrapper">
        <div class="text-center">
            <h1 class="display-4">Bem vindo, <b>@User.Identity.Name</b></h1>
        </div>
    </div>

}
else
{
    <div class="content-wrapper">
        <div class="text-center">
            <h1 class="display-4">Realize Login</h1>
        </div>
    </div>
}


