@model IEnumerable<IdentityCustomMVC.Entities.Product>

@{
    ViewData["Title"] = "Produtos";
}

<div class="content-wrapper">
    <div class="content">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-12">
                    <div class="col-sm-12">
                        <h1 class="text-center">@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group">
                                <a class="btn btn-primary" asp-action="Create">Novo Produto</a>
                                @*<a class="btn bg-gradient-danger" onclick="DeleteProductsIndex()">Excluir</a>*@
                                @if (User.IsInRole("Master") || User.IsInRole("Admin") || User.IsInRole("Gerente"))
                                {
                                    <a class="btn bg-gradient-danger" onclick="DeleteProductsIndex()">Excluir</a>
                                }
                                else
                                {
                                    <a asp-action="Delete" class="btn bg-gradient-danger" style="cursor:pointer">Excluir</a>
                                }                              

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body" id="listProductsRegisters">
                                    <partial name="ListProductsPartial" model="Model" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/theme/plugins/jquery/jquery.min.js" type="text/javascript"></script>
<script src="~/theme/dist/js/demo.js" type="text/javascript"></script>
<script src="~/js/ProductsJs/Products.js" type="text/javascript"></script>

