@using IdentityCustomMVC.Entities;
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Usuários";
}


@if (Model.Any())
{
    <div class="content-wrapper">
        <div class="content">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-12">
                        <div class="col-sm-12">
                            <h1 class="text-center">@ViewData["Title"]</h1>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="btn-group">
                                    <a asp-action="Register" asp-controller="Account" asp-area="" class="btn bg-gradient-primary" style="width:auto">Novo Usuário</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" id="listUsersRegisters">
                                <partial name="ListUsersPartial" model="Model" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
}
else
{
    <div class="content-wrapper">
        <div class="content">
            <div class="card">
                <div class="card-header">
                    <h5> Não existem usuários </h5>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h3> Clique <a asp-controller="Account" asp-area="" asp-action="Register"><b>Aqui</b></a> para criar um novo usuário</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/theme/plugins/jquery/jquery.min.js" type="text/javascript"></script>
<script src="~/theme/dist/js/demo.js" type="text/javascript"></script>
<script src="~/js/UsersJs/Users.js" type="text/javascript"></script>
