<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                <div class="jumbotron">
                    <div class="container">
                        <h1><b>Acesso Negado</b></h1>
                        <p class="lead"> Esta conta não possui autorização para acessar esta página.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
