<h4>
   
</h4>
<div class="alert alert-success" role="alert">
    Caso você possua uma conta conosco, enviaremos um e-mail
    com as instruções para redefinir sua senha. Favor, verifique seu email.
</div>