<div class="content-wrapper">
    <div class="alert alert-success m-5" role="alert">
        Caso este email possua uma conta, enviaremos um e-mail
        com as instruções para redefinir sua senha. Por favor, verifique seu email.
    </div>
</div>