@model string

<div class="container">
    <h1 class="text-center">Nova Role</h1>
    <div class="card">
        <div class="card-body">
            <div class="text-danger" asp-validation-summary="All"></div>
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input name="name" class="form-control" />                   
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <a asp-action="Index" class="btn btn-danger"> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
