@using IdentityCustomMVC.Entities;
@model RoleEdit
@{
    ViewData["Title"] = "Remover da Role";
}
<div class="content-wrapper">
    <div class="content">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-12">
                    <div class="col-sm-12">
                        <h1 class="text-center">@ViewData["Title"] <b>@Model.Role.Name</b></h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <form method="post">
                        <input type="hidden" name="roleName" value="@Model.Role.Name" />
                        <input type="hidden" name="roleId" value="@Model.Role.Id" />
                        <div class="btn-group mt-3 mb-3">
                            <button type="submit" class="btn bg-gradient-danger">Remover</button>
                            <a asp-action="Index" class="btn bg-gradient-secondary">Cancelar</a>
                        </div>
                        <div class="row">
                            <div class="col-12">                              
                                <div class="card">
                                    <div class="card-body" id="listUpdateMembersRolesRegisters">
                                        <partial name="ListUpdateMembersRolesPartial" model="Model" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/theme/plugins/jquery/jquery.min.js" type="text/javascript"></script>
<script src="~/theme/dist/js/demo.js" type="text/javascript"></script>
<script src="~/js/RolesJs/Roles.js" type="text/javascript"></script>